
<%- include("header") -%>

<h2 style="color: black">Hello, I am Helly</h2>
<p>I have a little hard time remember my stuff, so yeah, here's a lil' something for me, & may be, you too!</p>

<%- include("footer") -%>
